* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

textarea.textarea {
    width: 100%;
    height: 100px;
    font-size: 1rem;
    resize: none;
}

div.home, div.chats {
    margin-top: 30px;
}

div.card-header.text-center {
    cursor: pointer;
}